includes:
    - ./vendor/larastan/larastan/extension.neon
parameters:
    level: 9
    checkGenericClassInNonGenericObjectType: false
    paths:
        - app
        - database/factories
        - database/seeders
    ignoreErrors:
        - "#Static access to instance property(.*)#"
